/*..глобальный сброс */

* {box-sizing: border-box;}

body{
  background-color: black;
}

.slider {
  width: 100%;
  max-width: 1200px;
  /* Ограничим ширину */
  margin: 0 auto;
  overflow: hidden;
  /* Скрываем все, что выходит за границы */
}

.slider__wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider__controls {
  display: flex;
  justify-content: flex-end;
  margin: 3rem;
}

/* Прячем радиокнопки */
.slider input[type="radio"] {
   display: none; 
}

/* Стили для каждого отдельного слайда */
.slider__item {
  min-width: 100%;
  /* Каждый слайд занимает всю ширину контейнера */
}

.slider__controls {
    display: flex;
    gap: 10px; /* Расстояние между точками */
    
}


.slider__control {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgba(240, 232, 232, 0.5); 
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider__controls :hover {
  background-color: rgb(223, 223, 223); }

.slider__controls :active {
  background-color: rgb(255, 255, 255); }

/* Если выбрана 1 радиокнопка, сдвигаем контейнер на -100% (показываем второй слайд) */
#slide1:checked~.slider__wrapper {
  transform: translateX(0%);
}

/* Если выбрана 2 радиокнопка, сдвигаем контейнер на -100% (показываем второй слайд) */
#slide2:checked~.slider__wrapper {
  transform: translateX(-100%);
}

/* Если выбрана 3 радиокнопка, сдвигаем контейнер на -100% (показываем второй слайд) */
#slide3:checked~.slider__wrapper {
  transform: translateX(-200%);
}

/* Если выбрана 4 радиокнопка, сдвигаем контейнер на -100% (показываем второй слайд) */
#slide4:checked~.slider__wrapper {
  transform: translateX(-300%);
}

/* Если выбрана 5 радиокнопка, сдвигаем контейнер на -100% (показываем второй слайд) */
#slide5:checked~.slider__wrapper {
  transform: translateX(-400%);
}