/*..глобальный сброс */

* {box-sizing: border-box;}

body{
  background-color: rgb(44, 44, 44);
}

.slider {  
  max-width: 75rem;
  /* Ограничим ширину */
  margin: 0 auto;
  overflow: hidden;
  /* Скрываем все, что выходит за границы */
  }

@media screen and (max-width: 75rem) {
  
    img {
  
  width: 600px;
  height: 480px;

  }
  .slider {  
  max-width: 15rem;}  
}

.slider__wrapper {  
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider__controls {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

/* Прячем радиокнопки */
.slider input[type="radio"] {
   display: none; 
}

/* Стили для каждого отдельного слайда */
.slider__item {
  min-width: 100%;
  /* Каждый слайд занимает всю ширину контейнера */
}

.slider__controls {
    display: flex;
    gap: 10px; /* Расстояние между точками */    
}


.slider__control1, .slider__control2, .slider__control3, .slider__control4, .slider__control5 {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgba(34, 120, 219, 0.719); 
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider__controls :hover {
  background-color: rgb(223, 223, 223); }


.slider__controls :active {
  background-color: rgb(255, 86, 86); }



/* Если выбрана 1 радиокнопка, сдвигаем контейнер на -100% (показываем второй слайд) */
#slide1:checked~.slider__wrapper {
  transform: translateX(0%);
}

/* Если выбрана 2 радиокнопка, сдвигаем контейнер на -100% (показываем второй слайд) */
#slide2:checked~.slider__wrapper {
  transform: translateX(-100%);
}

/* Если выбрана 3 радиокнопка, сдвигаем контейнер на -100% (показываем второй слайд) */
#slide3:checked~.slider__wrapper {
  transform: translateX(-200%);
}

/* Если выбрана 4 радиокнопка, сдвигаем контейнер на -100% (показываем второй слайд) */
#slide4:checked~.slider__wrapper {
  transform: translateX(-300%);
}

/* Если выбрана 5 радиокнопка, сдвигаем контейнер на -100% (показываем второй слайд) */
#slide5:checked~.slider__wrapper {
  transform: translateX(-400%);
}

 #slide1:checked~.slider_controls > .slider__control1 {
    background-color: #ff6600;
    transform: scale(1.8);
}

 #slide2:checked~.slider_controls > .slider__control2 {
    background-color: #ff6600;
    transform: scale(1.8);
}



/* 
 #slide1:cheked~ slider_controls > slider-control1,
 #slide2:cheked~ slider_controls > slider-control2,
 #slide3:cheked~ slider_controls > slider-control3,
 #slide4:cheked~ slider_controls > slider-control4,
 #slide5:cheked~ slider_controls > slider-control5 {
    background-color: #ff6600;
    transform: scale(1.8);
} */


